<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fail</key>
		<string>时间已到!   你用了太多时间来回答这个问题.</string>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image01.png</string>
		<key>intro</key>
		<string>尽可能在7秒内给脚挠痒！\n使用下方的3个顏色按钮</string>
		<key>max</key>
		<string>25.0</string>
		<key>min</key>
		<string>20.0</string>
		<key>title</key>
		<string>不要\n挠我\n脚</string>
		<key>unit</key>
		<string>分</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image05.png</string>
		<key>intro</key>
		<string>根据[石头剪刀布]规则，\n以最快速度选择[左边赢]或[右边赢]或[平局]！</string>
		<key>max</key>
		<string>40</string>
		<key>min</key>
		<string>20</string>
		<key>title</key>
		<string>石头\n剪刀\n布</string>
		<key>fail</key>
		<string>时间已到!   你用了太多时间来回答这个问题.</string>
		<key>unit</key>
		<string>分</string>
	</dict>
	<dict>
		<key>fail</key>
		<string>时间已到!   你用了太多时间来回答这个问题.</string>
		<key>format</key>
		<string>%.1f</string>
		<key>icon</key>
		<string>select_image23.png</string>
		<key>intro</key>
		<string>尽可能点击左右箭头来平衡男孩的头时间越长越好！</string>
		<key>max</key>
		<string>10.0</string>
		<key>min</key>
		<string>5.0</string>
		<key>title</key>
		<string>傻乎乎的\n瞌睡\n男孩</string>
		<key>unit</key>
		<string>秒</string>
	</dict>
	<dict>
		<key>fail</key>
		<string>啊呦!你爬了太多楼梯! 请按照屏幕上提示的阶梯数量点击</string>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image09.png</string>
		<key>intro</key>
		<string>交替点击左右脚，\n以最快速度冲到马桶座上！</string>
		<key>max</key>
		<string>1500</string>
		<key>min</key>
		<string>2500</string>
		<key>title</key>
		<string>早晨\n冲向\n厕所</string>
		<key>unit</key>
		<string>秒</string>
	</dict>
	<dict>
		<key>fail</key>
		<string>你掉落的冰淇淋太多了! 按着虚线填满冰淇淋.</string>
		<key>format</key>
		<string>%.1f</string>
		<key>icon</key>
		<string>select_image03-iphone4</string>
		<key>intro</key>
		<string>以最快速度且正确填满冰淇淋! \n[提示]使用多个手指.</string>
		<key>max</key>
		<string>12.00</string>
		<key>min</key>
		<string>20.00</string>
		<key>title</key>
		<string>狂热\n冰淇淋\n!</string>
		<key>unit</key>
		<string>S</string>
	</dict>
	<dict>
		<key>fail</key>
		<string>大嘴巴子扇的不够! 请抽丫的37次,然后点击完成按钮!</string>
		<key>format</key>
		<string>%.1f</string>
		<key>icon</key>
		<string>select_image19</string>
		<key>intro</key>
		<string>以最快速度抽这个人,恰好[37]次! 记住在完成后点击[完成].</string>
		<key>max</key>
		<string>5.00</string>
		<key>min</key>
		<string>10.00</string>
		<key>title</key>
		<string>多次\n大嘴巴子\n!</string>
		<key>unit</key>
		<string>秒</string>
	</dict>
	<dict>
		<key>fail</key>
		<string>射击次数太多了! 超过了玻璃杯的数量. 按照屏幕上的玻璃杯数量射击!</string>
		<key>format</key>
		<string>%.1f</string>
		<key>icon</key>
		<string>select_image04-iphone4aa.png</string>
		<key>intro</key>
		<string>以最快速度射击全部玻璃杯! \n可以通过同时点击3个按钮一次射击3个玻璃杯!</string>
		<key>max</key>
		<string>15.00</string>
		<key>min</key>
		<string>20.00</string>
		<key>title</key>
		<string>牛仔\n酒吧\n射击</string>
		<key>unit</key>
		<string>秒</string>
	</dict>
	<dict>
		<key>fail</key>
		<string>拍摄美女模特! 别拍摄机器人!!</string>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image07.png</string>
		<key>intro</key>
		<string>尽可能多拍展场女郎的照片！\n[提示] 使用多个手指。</string>
		<key>max</key>
		<string>150</string>
		<key>min</key>
		<string>120</string>
		<key>title</key>
		<string>拍摄\n展场\n女郎</string>
		<key>unit</key>
		<string>分</string>
	</dict>
	<dict>
		<key>fail</key>
		<string>太慢了! 在炸弹刚要达到0.00秒是停止他们!</string>
		<key>format</key>
		<string>%.2f</string>
		<key>icon</key>
		<string>select_image14</string>
		<key>intro</key>
		<string>尽可能在接近0.00秒时停止炸弹!  分数取决于每颗炸弹停止剩余的总时间.</string>
		<key>max</key>
		<string>0.20</string>
		<key>min</key>
		<string>0.50</string>
		<key>title</key>
		<string>炸弹\n恐慌\n!</string>
		<key>unit</key>
		<string>秒</string>
	</dict>
	<dict>
		<key>fail</key>
		<string>错误的答案!  按照轮盘上的颜色和数字点击!  仅点击一个按钮.</string>
		<key>format</key>
		<string>%.2f</string>
		<key>icon</key>
		<string>select_image08</string>
		<key>intro</key>
		<string>按照轮盘上的说明以最快速度点击! [提示]仅使用一跟手指.</string>
		<key>max</key>
		<string>10.00</string>
		<key>min</key>
		<string>12.00</string>
		<key>title</key>
		<string>疯狂\n摇奖\n!</string>
		<key>unit</key>
		<string>秒</string>
	</dict>
	<dict>
		<key>fail</key>
		<string>错误的答案! 点击正确答案来完成这个方程式.</string>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image13.png</string>
		<key>intro</key>
		<string>首页, 记住小手掩盖的数字. 以最快速度解决这些简单的数学问题!</string>
		<key>max</key>
		<string>1000</string>
		<key>min</key>
		<string>1500</string>
		<key>title</key>
		<string>哦\n我喜欢\n数学</string>
		<key>unit</key>
		<string>MS</string>
	</dict>
	<dict>
		<key>fail</key>
		<string>太慢了! 请在鸡蛋刚要触碰蓝线之前点击按钮!</string>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image01-iphone4</string>
		<key>intro</key>
		<string>尽可能在接近蓝线时点击鸡蛋!</string>
		<key>max</key>
		<string>175</string>
		<key>min</key>
		<string>155</string>
		<key>title</key>
		<string>三个\n小\n厨师</string>
		<key>unit</key>
		<string>PTS</string>
	</dict>
	<dict>
		<key>fail</key>
		<string>错误的答案! 选择在手后面的人</string>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image11</string>
		<key>intro</key>
		<string>以最快速度猜测手后面的人! [提示]使用多个手指</string>
		<key>max</key>
		<string>1000</string>
		<key>min</key>
		<string>1200</string>
		<key>title</key>
		<string>猜猜\n我\n是谁?</string>
		<key>unit</key>
		<string>毫秒</string>
	</dict>
	<dict>
		<key>fail</key>
		<string>时间已到!   你用了太多时间来回答这个问题.</string>
		<key>format</key>
		<string>%.1f</string>
		<key>icon</key>
		<string>select_image16</string>
		<key>intro</key>
		<string>左右倾斜您的设备,\n尽可能长时间的使骨头保持平衡! ***注意用真机调试***</string>
		<key>max</key>
		<string>40.0</string>
		<key>min</key>
		<string>12.0</string>
		<key>title</key>
		<string>狗\n和\n骨头</string>
		<key>unit</key>
		<string>秒</string>
	</dict>
	<dict>
		<key>fail</key>
		<string>时间已到!   你用了太多时间来回答这个问题.</string>
		<key>format</key>
		<string>%.2f</string>
		<key>icon</key>
		<string>select_image18</string>
		<key>intro</key>
		<string>以最快速度跨越危险的河!</string>
		<key>max</key>
		<string>10.0</string>
		<key>min</key>
		<string>12.0</string>
		<key>title</key>
		<string>蹦\n蹦\n跳</string>
		<key>unit</key>
		<string>s</string>
	</dict>
	<dict>
		<key>fail</key>
		<string>时间已到!   你用了太多时间来回答这个问题.</string>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image21</string>
		<key>intro</key>
		<string>以最快速度交替点击左右.\n尽可能在6秒内完成多次的引体向上!</string>
		<key>max</key>
		<string>90</string>
		<key>min</key>
		<string>70</string>
		<key>title</key>
		<string>引体向上\n超级\n英雄</string>
		<key>unit</key>
		<string>次</string>
	</dict>
	<dict>
		<key>fail</key>
		<string>时间已到!   你用了太多时间点击了 &quot;拉&quot; 按钮.</string>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image15</string>
		<key>intro</key>
		<string>当力量达到红色区域点击&quot;拉&quot;!\n分数取决于使用的总力量!</string>
		<key>max</key>
		<string>600</string>
		<key>min</key>
		<string>300</string>
		<key>title</key>
		<string>拔\n鼻毛\n！</string>
		<key>unit</key>
		<string>PTS</string>
	</dict>
	<dict>
		<key>fail</key>
		<string>错误的答案! 点击相同数字的牌.</string>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image20</string>
		<key>intro</key>
		<string>选择相同数字的牌.\n[提示]使用多个手指.</string>
		<key>max</key>
		<string>400</string>
		<key>min</key>
		<string>800</string>
		<key>title</key>
		<string>相同\n数字\n扑克</string>
		<key>unit</key>
		<string>MS</string>
	</dict>
	<dict>
		<key>fail</key>
		<string>拉杆太早! 还没有掉到鱼!</string>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image06</string>
		<key>intro</key>
		<string>当任何钩杆晃动时\n以最快速度点击按钮并向上翻转你的设备!\n***需要用真机***!</string>
		<key>max</key>
		<string>450</string>
		<key>min</key>
		<string>850</string>
		<key>title</key>
		<string>让\n我们\n去钓鱼</string>
		<key>unit</key>
		<string>ms</string>
	</dict>
	<dict>
		<key>fail</key>
		<string>错误的答案! 点击最大骰子总点数的一栏.</string>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image10</string>
		<key>intro</key>
		<string>以最快速度选择点数最大的骰子!</string>
		<key>max</key>
		<string>400</string>
		<key>min</key>
		<string>800</string>
		<key>title</key>
		<string>高点数\n骰子\n大师</string>
		<key>unit</key>
		<string>MS</string>
	</dict>
	<dict>
		<key>fail</key>
		<string>错误的答案! 点击最大分数的按钮.</string>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image17</string>
		<key>intro</key>
		<string>按照那边有最大分数,\n以最快速度点击左或右按钮!</string>
		<key>max</key>
		<string>300</string>
		<key>min</key>
		<string>600</string>
		<key>title</key>
		<string>我\n讨厌\n分数</string>
		<key>unit</key>
		<string>ms</string>
	</dict>
	<dict>
		<key>fail</key>
		<string>时间已到!   你用了太多时间来回答这个问题.</string>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image24</string>
		<key>intro</key>
		<string>观察并记住放屁的顺序!\n以最快速度点击顺序.</string>
		<key>max</key>
		<string>40</string>
		<key>min</key>
		<string>20</string>
		<key>title</key>
		<string>是谁\n在\n放屁</string>
		<key>unit</key>
		<string>PTS</string>
	</dict>
	<dict>
		<key>fail</key>
		<string>错误的答案或时间已到!   请快速回答正确的答案.</string>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image12</string>
		<key>intro</key>
		<string>仔细观察巴士上的人!\n以最快速度点击每个人出现的次数.</string>
		<key>max</key>
		<string>500</string>
		<key>min</key>
		<string>700</string>
		<key>title</key>
		<string>超级\n记忆\n巴士</string>
		<key>unit</key>
		<string>ms</string>
	</dict>
	<dict>
		<key>fail</key>
		<string>点错了或者太迟了! 选择正确的蟑螂,在它逃跑前干掉他!</string>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image03</string>
		<key>intro</key>
		<string>当任何蟑螂尝试逃跑时,尽早点击该栏!</string>
		<key>max</key>
		<string>900</string>
		<key>min</key>
		<string>1400</string>
		<key>title</key>
		<string>蟑螂\n对\n拖鞋</string>
		<key>unit</key>
		<string>MS</string>
	</dict>
</array>
</plist>
