<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image01.png</string>
		<key>intro</key>
		<string>尽可能在7秒内给脚挠痒！\n使用下方的3个顏色按钮</string>
		<key>max</key>
		<string>25.0</string>
		<key>min</key>
		<string>20.0</string>
		<key>title</key>
		<string>你妹\n别挠我\n！</string>
		<key>unit</key>
		<string>分</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.2f</string>
		<key>icon</key>
		<string>select_image02.png</string>
		<key>intro</key>
		<string>尽您最快的速度向左或右滑动手指将女士或男士分配到他们各自的洗手间！</string>
		<key>max</key>
		<string>10.00</string>
		<key>min</key>
		<string>15.00</string>
		<key>title</key>
		<string>紧急，\n紧急，\n紧急！</string>
		<key>unit</key>
		<string>秒</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image03.png</string>
		<key>intro</key>
		<string>当任何蟑螂尝试逃跑时，尽早点击该栏！</string>
		<key>max</key>
		<string>0900.0</string>
		<key>min</key>
		<string>1400.0</string>
		<key>title</key>
		<string>蟑螂\n对\n拖鞋</string>
		<key>unit</key>
		<string>毫秒</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image04.png</string>
		<key>intro</key>
		<string>在红色按钮内将球拍向左或右滑动。尽可能抓住更多的球！您有3次生命。</string>
		<key>max</key>
		<string>200.0</string>
		<key>min</key>
		<string>100.0</string>
		<key>title</key>
		<string>令人\n发狂的\n乒乓球！</string>
		<key>unit</key>
		<string>分</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image05.png</string>
		<key>intro</key>
		<string>根据[石头剪刀布]规则，\n以最快速度选择[左边赢]或[右边赢]或[平局]！</string>
		<key>max</key>
		<string>30.0</string>
		<key>min</key>
		<string>15.0</string>
		<key>title</key>
		<string>石头\n剪刀\n布</string>
		<key>unit</key>
		<string>分</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image06.png</string>
		<key>intro</key>
		<string>当任何钓竿晃动时\n以最快速度点击按钮并向上翻转您的设备！</string>
		<key>max</key>
		<string>400</string>
		<key>min</key>
		<string>800</string>
		<key>title</key>
		<string>让\n我们\n去钓鱼</string>
		<key>unit</key>
		<string>毫秒</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image07.png</string>
		<key>intro</key>
		<string>尽可能多拍展场女郎的照片！\n[提示] 使用多个手指。</string>
		<key>max</key>
		<string>150</string>
		<key>min</key>
		<string>120</string>
		<key>title</key>
		<string>拍摄\n展场\n女郎</string>
		<key>unit</key>
		<string>分</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.2f</string>
		<key>icon</key>
		<string>select_image08.png</string>
		<key>intro</key>
		<string>按照轮盘上的说明以最快速度点击！\n[提示] 仅使用1手指。</string>
		<key>max</key>
		<string>8.00</string>
		<key>min</key>
		<string>10.00</string>
		<key>title</key>
		<string>疯狂\n摇奖\n!</string>
		<key>unit</key>
		<string>秒</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image09.png</string>
		<key>intro</key>
		<string>交替点击左右脚，\n以最快速度冲到马桶座上！</string>
		<key>max</key>
		<string>1500</string>
		<key>min</key>
		<string>2500</string>
		<key>title</key>
		<string>早晨\n冲向\n厕所</string>
		<key>unit</key>
		<string>毫秒</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image10.png</string>
		<key>intro</key>
		<string>以最快速度选择点数最大的骰子！</string>
		<key>max</key>
		<string>400.0</string>
		<key>min</key>
		<string>800.0</string>
		<key>title</key>
		<string>高点数\n骰子\n大师</string>
		<key>unit</key>
		<string>毫秒</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image11.png</string>
		<key>intro</key>
		<string>以最快速度猜测手后面的人！\n[提示] 使用多个手指。</string>
		<key>max</key>
		<string>1000</string>
		<key>min</key>
		<string>1200</string>
		<key>title</key>
		<string>猜猜\n我是\n谁？</string>
		<key>unit</key>
		<string>毫秒</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image12.png</string>
		<key>intro</key>
		<string>仔细观察巴士上的人！\n以最快速度点击每个人出现的次数。</string>
		<key>max</key>
		<string>500.0</string>
		<key>min</key>
		<string>700.0</string>
		<key>title</key>
		<string>超级\n记忆\n巴士</string>
		<key>unit</key>
		<string>毫秒</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image13.png</string>
		<key>intro</key>
		<string>首先，请记住小手掩盖的数字。以最快速度解决这些简单的数学问题！</string>
		<key>max</key>
		<string>1000</string>
		<key>min</key>
		<string>1500</string>
		<key>title</key>
		<string>哦，\n我喜欢\n数学！</string>
		<key>unit</key>
		<string>毫秒</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.2f</string>
		<key>icon</key>
		<string>select_image14.png</string>
		<key>intro</key>
		<string>尽可能在接近0.00秒时停止炸弹！\n分数取决于每颗炸弹停止时剩余的总时间。</string>
		<key>max</key>
		<string>0.20</string>
		<key>min</key>
		<string>0.50</string>
		<key>title</key>
		<string>炸弹\n恐慌\n!</string>
		<key>unit</key>
		<string>秒</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image15.png</string>
		<key>intro</key>
		<string>当力量达到红色区域时点击“拉”！\n分数取决于使用的总力量。</string>
		<key>max</key>
		<string>600.0</string>
		<key>min</key>
		<string>500.0</string>
		<key>title</key>
		<string>拔\n鼻毛\n!</string>
		<key>unit</key>
		<string>分</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.1f</string>
		<key>icon</key>
		<string>select_image16.png</string>
		<key>intro</key>
		<string>左右倾斜您的设备，\n尽可能长时间的使骨头保持平衡！</string>
		<key>max</key>
		<string>40.00</string>
		<key>min</key>
		<string>12.00</string>
		<key>title</key>
		<string>狗\n和\n骨头</string>
		<key>unit</key>
		<string>秒</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image17.png</string>
		<key>intro</key>
		<string>按照哪边有最大分数，\n以最快速度点击左或右按钮！</string>
		<key>max</key>
		<string>300.0</string>
		<key>min</key>
		<string>600.0</string>
		<key>title</key>
		<string>我\n讨厌\n分数！</string>
		<key>unit</key>
		<string>毫秒</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.2f</string>
		<key>icon</key>
		<string>select_image18.png</string>
		<key>intro</key>
		<string>以最快速度跨越危险的河！</string>
		<key>max</key>
		<string>8.00</string>
		<key>min</key>
		<string>10.00</string>
		<key>title</key>
		<string>蹦\n蹦\n跳</string>
		<key>unit</key>
		<string>秒</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.2f</string>
		<key>icon</key>
		<string>select_image19.png</string>
		<key>intro</key>
		<string>以最快速度掌掴这个人恰好[ 37 ]次！\n记住在完成后点击[完成]。</string>
		<key>max</key>
		<string>5.0</string>
		<key>min</key>
		<string>10.0</string>
		<key>title</key>
		<string>多次\n掌掴\n！</string>
		<key>unit</key>
		<string>秒</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image20.png</string>
		<key>intro</key>
		<string>选择相同数字的牌。\n[提示] 使用多个手指。</string>
		<key>max</key>
		<string>400.0</string>
		<key>min</key>
		<string>800.0</string>
		<key>title</key>
		<string>相同\n数字\n扑克</string>
		<key>unit</key>
		<string>毫秒</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image21.png</string>
		<key>intro</key>
		<string>以最快速度交替点击左右。\n尽可能在6秒内完成多次的引体向上！</string>
		<key>max</key>
		<string>90.00</string>
		<key>min</key>
		<string>70.00</string>
		<key>title</key>
		<string>引体向上\n超级\n英雄</string>
		<key>unit</key>
		<string>次</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image22.png</string>
		<key>intro</key>
		<string>快速点击奔跑，然后当火柴人接近悬崖边时点击跳跃！\n分数取决于总距离。</string>
		<key>max</key>
		<string>280.0</string>
		<key>min</key>
		<string>250.0</string>
		<key>title</key>
		<string>火柴人\n悬崖\n跳跃</string>
		<key>unit</key>
		<string>分</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.1f</string>
		<key>icon</key>
		<string>select_image23.png</string>
		<key>intro</key>
		<string>尽可能点击左右箭头来平衡男孩的头时间越长越好！</string>
		<key>max</key>
		<string>10.0</string>
		<key>min</key>
		<string>5.0</string>
		<key>title</key>
		<string>傻乎乎的\n瞌睡\n男孩</string>
		<key>unit</key>
		<string>秒</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%.f</string>
		<key>icon</key>
		<string>select_image24.png</string>
		<key>intro</key>
		<string>观察并记住放屁的顺序！\n以最快速度点击顺序。</string>
		<key>max</key>
		<string>40.00</string>
		<key>min</key>
		<string>20.00</string>
		<key>title</key>
		<string>谁\n在放屁\n！？</string>
		<key>unit</key>
		<string>分</string>
	</dict>
</array>
</plist>
