<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hardest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B32C1E4C1C7C4DF600B2C577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B32C1E651C7C4DF600B2C577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B32C1E701C7C4DF600B2C577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
